@font-face {
font-family: "Manhattan Darling";
src: url(assets/ManhattanDarling-Regular.otf);
}

@font-face {
  font-family: "Noto Sans";
  src: url(assets/NotoSans-Regular.ttf);
}

body {
  background-color: pink;
  text-align: center;
  font-family: "Noto Sans";
}

#canvas {
  background:url(assets/gameboard.jpg);
  border:8px solid #000000;
  margin-left: -15%;
 }

#game-board {
  display: none;
}

.title {
  font-size: 120px;
  text-align: center;
  font-family: "Manhattan Darling";
}

.start-menu-item {
  font-family: "Noto Sans";
}

.start-button {
  padding: 10px 10px;
font-size: 16px;
color: white;
line-height: normal;
-webkit-border-radius: 8px;
-moz-border-radius: 8px;
     border-radius: 8px;
 background: black;
 border: 2px solid white;
}

.score {
  display: inline-block;
  float:left;
  font-family: "Manhattan Darling";
  font-size: 60px;
  margin-left: 8%;
}

.score-counter {
  font-family: "Noto Sans";
}

.level {
  display: inline-block;
  float:left;
  font-family: "Manhattan Darling";
  font-size: 60px;
  margin-left: 8%;
}

.level-counter {
  font-family: "Noto Sans";
}

.start-button:hover {
    padding: 10px 10px;
  font-size: 16px;
  color: black;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
       border-radius: 8px;
   background: white;
   border: 2px solid black;
}

.game-over {
  display: none;
}

body, html {
   overflow-x: hidden;
   overflow-y: auto;
}
